description "gvldash"

start on (filesystem)
stop on runlevel [016]

respawn
setuid nobody
setgid nogroup
chdir {{ gvldash_path }}/gvldash
env DJANGO_CONFIGURATION="Production"
export DJANGO_CONFIGURATION

exec {{ gvldash_path }}/.venv/bin/gunicorn wsgi:application