worker_processes  2;
user {{ galaxy_user_name }};

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;
    index   index.html index.php index.htm;

    gzip  on;
    gzip_http_version 1.1;
    gzip_vary on;
    gzip_comp_level 4;
    gzip_proxied any;
    gzip_types text/plain text/css application/x-javascript text/xml application/xml text/javascript application/json;
    gzip_buffers 16 8k;
    gzip_disable "MSIE [1-6].(?!.*SV1)";

    upstream gvl_app {
        server 127.0.0.1:8000;
    }

    upstream galaxy_app {
        server 127.0.0.1:8080;
    }

    upstream cm_app {
        server 127.0.0.1:42284;
    }

    upstream galaxy_reports_app {
        server 127.0.0.1:9001;
    }

    upstream vnc_app {
        server 127.0.0.1:6080;
    }

    server {
        listen 80;
        client_max_body_size 10G;
        proxy_read_timeout 600;

        include commandline_utilities_http.conf;

        location /cloud {
            auth_pam    "Secure Zone";
            auth_pam_service_name   "nginx";
            proxy_pass  http://cm_app;
            proxy_set_header   X-Forwarded-Host $host;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
            error_page   502    /errdoc/cm_502.html;
        }

        location /cloud/static {
            alias /mnt/cm/static;
            expires 24h;
        }

        location /cloud/static/style {
            alias /mnt/cm/static/style;
            expires 24h;
        }

        location /cloud/static/scripts {
            alias /mnt/cm/static/scripts;
            expires 24h;
        }

        location /reports {
            auth_pam    "Secure Zone";
            auth_pam_service_name   "nginx";
            rewrite ^/reports/(.*) /$1 break;
            proxy_pass http://galaxy_reports_app;
            proxy_set_header   X-Forwarded-Host $host;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        }

        location / {
            proxy_pass  http://gvl_app;
            proxy_set_header   X-Forwarded-Host $host;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
            proxy_set_header   Host  $host;
        }


        location /static {
            alias {{ gvldash_path }}/gvldash/static;
            expires 24h;
        }

        location /galaxy {
            proxy_pass  http://galaxy_app;
            proxy_set_header   X-Forwarded-Host $host;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        }

        location /galaxy/static {
            alias {{ galaxy_server_dir }}/static;
            expires 24h;
        }

        location /galaxy/static/style {
            alias {{ galaxy_server_dir }}/static/june_2007_style/blue;
            expires 24h;
        }

        location /galaxy/static/scripts {
            alias {{ galaxy_server_dir }}/static/scripts/packed;
            expires 24h;
        }

        location /robots.txt {
            alias {{ galaxy_server_dir }}/static/robots.txt;
        }

        location /favicon.ico {
            alias {{ galaxy_server_dir }}/static/favicon.ico;
        }

        location /admin/jobs {
            proxy_pass  http://127.0.0.1:8079;
        }

        location /_x_accel_redirect/ {
            internal;
            alias /;
        }

        # VNC & noVNC settings
        location ~ /vnc {
            auth_pam    "Secure Zone";
            auth_pam_service_name   "nginx";
            rewrite ^/vnc$ /vnc/ permanent; # redirect if no trailing slash
            rewrite ^/vnc(.*) /$1 break;
            proxy_pass http://vnc_app;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
        }
        location ~ /websockify {
            proxy_pass http://vnc_app;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }

        location /_upload {
            upload_store {{ nginx_upload_store_path }};
            upload_pass_form_field "";
            upload_set_form_field "__${upload_field_name}__is_composite" "true";
            upload_set_form_field "__${upload_field_name}__keys" "name path";
            upload_set_form_field "${upload_field_name}_name" "$upload_file_name";
            upload_set_form_field "${upload_field_name}_path" "$upload_tmp_path";
            upload_pass_args on;
            upload_pass /_upload_done;
        }

        location /_upload_done {
            set $dst /galaxy/api/tools;
            if ($args ~ nginx_redir=([^&]+)) {
                set $dst $1;
            }
            rewrite "" $dst;
        }

        error_page   502    /errdoc/502.html;
        location /errdoc {
            root   html;
        }

    }

    server {
        listen                  443 ssl;
        client_max_body_size    10G;
        proxy_read_timeout      600;

        include commandline_utilities_https.conf;
    }
}
